@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.6rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  max-width: 600px;
  margin: 0 auto;
  height: 50px;
}

ul,
li {
  color: white;
  list-style: none;
}

ul {
  padding: 0;
}

.list {
  display: flex;
  gap: 2em;
}

.child-list-item {
  text-transform: uppercase;
  cursor: pointer;
  /* border: 1px solid red; */
  padding: 0.5em;
  position: relative;
}

.child-list-item span {
  opacity: 1;
}

.child-list-item:hover {
  background-color: black;
  color: yellow;
}

.grand-child-list {
  opacity: 0;
  overflow: hidden;
  max-height: 0;
  pointer-events: none;
}

/* showing items */
.child-list-item.show-grandchild-list .grand-child-list {
  opacity: 1;
  max-height: 100px;
  z-index: 333;
  background-color: black;
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  padding: 0.5em;
  transform:  translateY(7px);
  transition: opacity 500ms ease-in-out;
}
