<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="container">
      <nav class="parent-nav">
        <ul class="list">
          <li class="child-list-item" data-child-list-item>
            <span>Basketball</span>
            <ul class="grand-child-list" data-grand-child-list>
              <li>kobe</li>
              <li>lebron</li>
              <li>jordan</li>
            </ul>
          </li>
          <li class="child-list-item" data-child-list-item>
            <span>Football</span>
            <ul class="grand-child-list" data-grand-child-list>
              <li>Messi</li>
              <li>Ronaldo</li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
